.header{
	position: absolute;
	/*background-color: #1C1C1C;*/
	background-color: #363636;
	top:0;
	left:0;
	padding: 0;
	width: 100%;

	border-bottom: 2px solid;
	border-color: #4F4F4F;
}

.header .brand{
	color: #34C6F3; /* alt choice - 2BA6CB */
	font-family: 'lucida sans unicode', 'lucida grande', sans-serif;
	font-size: 32px;
	letter-spacing: 0.6pt;

	margin-left: 10%; 
	margin-top: 15px;
	margin-bottom: 15px;
	float: left;
}

.header .social li{
	display: inline;
	list-style-type: none;
	text-align: center;
	/*margin-left: 20%;*/
	/*padding:0;*/
}

.header .social{
	margin-right: 10%;
	float: right;
}

body{
	background-color: #1C1C1C;
	/*background-color: #363636;*/
}